/* MAIN STYLES */
* {
	padding: 0;
	margin: 0;
}
body, html {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100%;
	font-family: "Proxima Nova", sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.antialiasing {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:after {
	clear: both
}

.clearfix {
	zoom: 1;
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

//

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova-reg/proximanova-reg.woff");
}
@font-face {
	font-family: "Proxima Nova Bold";
	src: url("../fonts/proximanova-bold/proximanova-bold.woff");
}

$headerHeight: 52px;
$headerBorder: 2px;
.header {
	height: $headerHeight;
	border-bottom: $headerBorder solid #979797;
	max-width: 1280px;
	margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3F3F3F;
    transition: width 2s;
    box-sizing: border-box;
}
.header-left-block {
	font-size: 18px;
}
.header-right-block {
	display: flex;
	div {
		text-transform: uppercase;
		margin: 0 0 0 24px;
		font-size: 14px;
		cursor: pointer;
		transition: color .25s;
		&.active {
			color: #0366d6;
		}
	}
}
.branding-background {
	position: absolute;
	width: 100vw;
	height: calc(100vh - #{$headerHeight} - #{$headerBorder});
    background: url(../images/branding-hollow.svg) no-repeat transparent;
    transition: background 1s ease-out, opacity .5s ease-out;
    opacity: .6;
    background-position: center;
    background-size: 100vh;
    z-index: -1;
    background-attachment: fixed;
    &.loaded {
    	background-position: center top;
		background-size: 180vh;
	    opacity: .03;
    }
}
.inject-container {
	opacity: 1;
	transition: opacity .15s;
	max-width: 1280px;
	margin: 0 auto;
	position: absolute;
	left: 0;
    right: 0;
	&.ng-hide {
		opacity: 0;
		display: none;
	}
	&.ng-hide-add {
      opacity:0;
    }
    &.ng-hide-add-active {
      opacity:0;
    }
    &.ng-hide-remove {
      opacity:0;
    }
    &.ng-hide-remove-active {
      opacity:0;
    }
}

@media (max-width: 1320px) {
	.header {
		max-width: none;
		padding: 0 20px;
	}
	.inject-container {
		padding: 0 20px;
	}
}

.large-heading {
	font-family: "Phosphate", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #3F3F3F;
}
.default-text {
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
	a {
		text-decoration: underline;
		color: #0366d6;
		cursor: pointer;
		transition: color .25s;
		&:hover {
			color: #5f5f5f;
		}
	}
}