<div id="LAM_Map"></div>
<div class="copyright">
    <a href="mailto:rvfakie@gmail.com?subject=alphashape GMaps editor">fakie</a> | v.2.4.1
</div>
<div class="settings-wrap top left">
    <div class="undo-redo-wrap" ng-click="undo()">
        <i class="fa fa-reply"></i>
        <div class="helper">Шаг назад</div>
    </div>
    <!--<div class="undo-redo-wrap" ng-click="redo()"><i class="fa fa-share"></i></div>-->
    <div class="after-menu-button shortcuts-caller" ng-class="{'active': disableDrag}" ng-click="toggleDraggable()">
        <i class="fa fa-lock" ng-show="disableDrag"></i>
        <i class="fa fa-unlock" ng-show="!disableDrag"></i>
        <div class="helper">Зафиксировать карту</div>
    </div>
    <div class="after-menu-button shortcuts-caller upload-config-wrapper" ng-click="showUpload = true">
        <i class="fa fa-arrow-circle-o-up"></i>
        <div class="helper">Загрузить данные</div>
    </div>
    <div class="settings-type">
        <div class="settings-type-block">
            <input type="checkbox" id="marker-input" ng-model="enableMarkers" ng-change="enableM(); setToMap()">
            <label for="marker-input" ng-class="{'active': enableMarkers}">Маркеры</label>
        </div>
        <div class="settings-type-block">
            <input type="checkbox" id="polyline-input" ng-model="enablePolylines" ng-change="enableP(); setToMap()">
            <label for="polyline-input" ng-class="{'active': enablePolylines}">Линии</label>
        </div>
        <div class="checkbox-holder" ng-class="{'polylines': enablePolylines}"></div>
    </div>
    <div class="settings-config" ng-show="markersData.length && enableMarkers">
        <div class="config-header">Маркеры</div>
        <div class="config-element-wrapper">
            <div class="config-element" ng-repeat="(key, value) in markersData" ng-class="{'selected': selectedMarkerIndex == $index}" ng-click="selectMarker($index)">
                {{key+1}}.
                <div class="config-element-name">
                    {{value.name}}
                    <div ng-show="!value.name">Без названия</div>
                </div>
                <i class="fa fa-map-marker"></i>
            </div>
        </div>
    </div>
    <div class="config-options" ng-show="selectedMarkerIndex >= 0 && selectedMarkerIndex !== null">
        <label for="markerName">Название маркера</label>
        <textarea id="markerName" class="config-input" ng-model="markerName" placeholder="Введите название" ng-change="changeMarkerName()"></textarea>
        <div class="config-button" ng-show="selectedMarkerIndex >= 0 && selectedMarkerIndex !== null" ng-click="deleteSingleMarker()">Удалить выбранный маркер</div>
    </div>
    <div class="save-button" ng-show="enablePolylines" ng-click="confirmCreateRoute = true">Провести маршрут</div>
    <div class="settings-config" ng-show="selectedIndex && enablePolylines">
        <div class="config-header">Линии <i class="fa fa-plus" ng-class="{'active': glowing}" ng-click="newPolyline()"></i></div>
        <div class="config-element-wrapper">
            <div class="config-element" ng-repeat="(key, value) in polylinesData" ng-class="{'selected': selectedIndex == $index+1}" ng-click="selectPolyline($index+1)">
                {{key+1}}.
                <div class="config-element-name">
                    {{value.name}}
                    <div ng-show="!value.name">Без названия</div>
                </div>
                <i class="fa fa-share-alt"></i>
            </div>
        </div>
    </div>
    <div class="config-options" ng-show="selectedIndex && enablePolylines">
        <label for="polylineName">Название линии</label>
        <textarea id="polylineName" class="config-input" ng-model="polylineName" placeholder="Введите название" ng-change="changePolylineName()"></textarea>
        <div class="polyline-information">Расстояние: <span>{{polylineDistance}}</span></div>
        <div class="polyline-information" ng-show="polylineType">Тип маршрута: <span>{{polylineType}}</span></div>
        <div class="polyline-information" ng-show="polylineTime">Время: <span>{{polylineTime}}</span></div>

        <div class="config-button" ng-show="selectedIndex && enablePolylines" ng-click="deleteSinglePolyline()">Удалить линию</div>
    </div>
    <div class="save-button" ng-click="save()" ng-show="selectedIndex || markersData.length">Сохранить координаты</div>
</div>
<div class="settings-type upload-config" ng-show="showUpload">
    <i class="fa fa-times" ng-click="showUpload = false"></i>
    <textarea id="uploadData" ng-model="uploadData" placeholder="Вставьте JSON код"></textarea>
    <div class="upload-data-button" ng-click="load(uploadData)">Загрузить</div>
</div>
<div class="upload-wrap" ng-show="showUpload" ng-click="$event.stopPropagation(); showUpload = false"></div>

<div class="after-menu-wrapper">

    <div class="after-menu-button shortcuts-caller" ng-click="shortcutsToggled = !shortcutsToggled; instructionsToggled = false">
        <i class="fa fa-keyboard-o"></i>
        <div class="helper">Шорткаты</div>
    </div>
    <div class="instructions-holder" ng-show="shortcutsToggled" ng-click="shortcutsToggled = false">
        <div class="shortcuts-wrap" ng-show="shortcutsToggled" ng-click="$event.stopPropagation()">
            <i class="fa fa-times" ng-click="shortcutsToggled = !shortcutsToggled"></i>
            <div class="shortcut-title">Шорткаты</div>
            <!--<div class="shortcut-caption">Режим маркеров</div>-->
            <!--<div class="shortcut-holder single">-->
                <!--<div class="shortcut-button">Z</div>-->
                <!--<div class="shortcut-label">Удалить последний добавленный маркер</div>-->
            <!--</div>-->
            <div class="shortcut-caption">Режим линий</div>
            <div class="shortcut-holder">
                <div class="shortcut-button">N</div>
                <div class="shortcut-label">Создать новую линию</div>
            </div>
            <div class="shortcut-caption">Все режимы</div>
            <div class="shortcut-holder">
                <div class="shortcut-button">M</div>
                <div class="shortcut-label">Режим<br> маркеров</div>
            </div>
            <div class="shortcut-holder">
                <div class="shortcut-button">P</div>
                <div class="shortcut-label">Режим линий</div>
            </div>
            <div class="shortcut-holder">
                <div class="shortcut-button">S</div>
                <div class="shortcut-label">Сохранить координаты в буфер</div>
            </div>
            <div class="shortcut-holder">
                <div class="shortcut-button">F</div>
                <div class="shortcut-label">Зафиксировать карту</div>
            </div>
            <div class="shortcut-holder single">
                <div class="shortcut-button">Z</div>
                <div class="shortcut-label">Шаг назад</div>
            </div>
        </div>
    </div>

    <div class="after-menu-button" ng-click="instructionsToggled = !instructionsToggled; shortcutsToggled = false">
        <i class="fa fa-info"></i>
        <div class="helper">Инструкция</div>
    </div>
    <div class="instructions-holder" ng-show="instructionsToggled" ng-click="instructionsToggled = false">
        <div class="instructions-wrap" ng-click="$event.stopPropagation()">
            <i class="fa fa-times" ng-click="instructionsToggled = !instructionsToggled"></i>
            <div class="shortcut-title">Инструкция</div>
            <div class="instructions-text">Изучите шорткаты, для более удобного использования.</div>
            <div class="instructions-text">
                Взаимодествие с картой происходит в разных режимах. Это режимы линий и маркеров.
            </div>
            <div class="instructions-text">
                Чтобы начать взаимодействие с картой, нужно выбрать режим взаимодействия - <span>Маркеры</span> или <span>Линии</span>.
                После выбора режима, нужно кликнуть на карту.
            </div>
            <div class="instructions-text">
                С картой можно (нужно) взаимодействовать в обоих режимах. Например, нарисовать линию и поставить
                маркеры на ней/рядом с ней. Для этого нужно переключать режимы взаимодействия.
            </div>
            <div class="instructions-text">Маркеры и точки излома линий можно перетаскивать.</div>
            <div class="instructions-text">
                Маркеры и линии можно переименовывать. Чтобы переименовать маркер, его нужно выделить. Чтобы выделить
                маркер, нужно кликнуть на него на карте или кликнуть на него в меню маркеров. После успешного выделения
                в меню маркеров появится окно, в котором ему можно дать название. Аналогично можно поступить и с линиями.
            </div>
            <div class="instructions-text">
                Чтобы начать рисовать новую линию, нужно нажать `<span>+</span>` в меню линий или на шорткат (см. Шорткаты) и
                кликнуть на карту. На карте и в меню линий появится новая линия. Чтобы взаимодействовать с определенной линией,
                ее нужно выделить.
            </div>
            <div class="instructions-text">
                Когда линии полностью готовы и/или все маркеры выставлены, необходимо сохранить их. Координаты сохраняются в буфер обмена<sup>*</sup>.
            </div>
            <div class="instructions-text">
                После сохранения координат, необходимо вставить данные из буфера обмена в текстовый редактор (<span>CTRL+V</span>)
                или вставить напрямую в письмо/слек/любой чатик на хайпе и передать эти "каракули" разработчикам.
            </div>
            <div class="instructions-text"><span>ВАЖНО</span></div>
            <div class="instructions-text">
                Обратить внимание! Порядковые номера линий пересчитываются после удаления одной из линий.
            </div>
            <div class="instructions-text">
                Маркеры и линии можно загружать на карту. Для этого нужно скопировать JSON код ранее выставленных маркеров и/или линий,
                открыть окно загрузки кода и вставить туда код. После чего нажать на кнопку загрузить. Если код введен
                верно, на карте появятся загруженные маркеры и/или линии.
            </div>
            <div class="instructions-text">
                Сайт можно перезагружать/закрывать. Все данные автоматически сохраняются в localStorage, при условии, что
                вы находитесь на сайте не в режиме инкогнито.
            </div>
            <div class="instructions-text sup">
                <sup>*</sup> Буфер обмена это то, что происходит при нажатии <span>CTRL+C</span><br>
            </div>
        </div>
    </div>

    <div class="searchbox-wrapper">
        <input class="controls pac-input" id="global-search" googleplace ng-model="emptyModel" type="text" placeholder="Адрес">
        <div class="setter-button" ng-click="setPinFromAddress()">
            <i class="fa fa-map-marker"></i>
            <div class="helper">Поставить <span ng-show="enableMarkers">маркер</span><span ng-show="enablePolylines">линию</span> по адресу</div>
        </div>
    </div>

    <div class="after-menu-button" ng-click="setCenterFromAddress()">
        <i class="fa fa-eye"></i>
        <div class="helper">Показать место на карте</div>
    </div>

    <div class="after-menu-button danger" ng-show="markersData.length" ng-click="deleteMarkers()">
        <i class="fa fa-map-marker"></i>
        <div class="helper">Удалить с карты все маркеры</div>
    </div>

    <div class="after-menu-button danger" ng-show="selectedIndex" ng-click="deletePolylines()">
        <i class="fa fa-share-alt"></i>
        <div class="helper">Удалить с карты все линии</div>
    </div>

</div>

<div class="controls-wrapper">
    <div class="settings-ui" ng-click="setZoom(true)"><i class="fa fa-plus"></i></div>
    <div class="settings-ui" ng-click="setZoom()"><i class="fa fa-minus"></i></div>
</div>

<div class="action-window-wrapper">
    <div class="action-text"></div>
</div>

<div class="names-wrap" onclick="$('.names-window, .names-wrap').removeClass('shown');">
    <div class="names-window" onclick="event.stopPropagation();">
        <i class="fa fa-times" onclick="$('.names-window, .names-wrap').removeClass('shown');"></i>
        <input id="markerInp" type="text" value="" placeholder="Введи текст">
        <div class="names-save-button">Сохранить</div>
    </div>
</div>

<div class="confirm-wrap" ng-class="{'visible': confirmIsVisible}">
    <div class="confirm-fade" ng-click="confirmIsVisible = false"></div>
    <div class="confirm-block">
        <i class="fa fa-times" ng-click="confirmIsVisible = false"></i>
        <div class="confirm-text">{{confirmText}} Это действие необратимо.</div>
        <div class="confirm-controls-wrap">
            <div class="confirm-button deny-button" ng-click="confirmIsVisible = false">Отменить</div>
            <div class="confirm-button agree-button">Так точно</div>
        </div>
    </div>
</div>

<div class="confirm-wrap create-route" ng-class="{'visible': confirmCreateRoute}">
    <div class="confirm-fade" ng-click="confirmCreateRoute = false"></div>
    <div class="create-route-block" ng-init="routeType = 'WALKING'">
        <i class="fa fa-times" ng-click="confirmCreateRoute = false"></i>

        <div class="create-route-header">Построение маршрута</div>
        <div class="create-route-inputs-container">
            <div class="create-route-input-wrapper">
                <input class="walking" type="radio" name="route-type" value="WALKING" ng-model="routeType">
                <div class="create-route-radio-holder">
                    <div class="fa fa-child"></div>
                </div>
            </div>
            <div class="create-route-input-wrapper">
                <input class="car" type="radio" name="route-type" value="DRIVING" ng-model="routeType">
                <div class="create-route-radio-holder">
                    <div class="fa fa-car"></div>
                </div>
            </div>
        </div>
        <div class="create-route-small-header">Тип маршрута: <span>{{getSelectedRouteType()}}</span></div>
        <div class="create-route-input-text-wrapper" ng-repeat="key in routeBoxes">
            <input googleplace class="pac-input create-route-input" type="text" ng-model="key.value" placeholder="Точка {{$index + 1}}">
            <span class="remove-place" ng-show="routeBoxes.length > 2" ng-click="routeBoxes.splice($index, 1)">x</span>
            <div class="fa fa-arrow-down" ng-show="$index === routeBoxes.length - 2"></div>
            <div class="fa fa-plus" ng-show="$index !== routeBoxes.length - 2 && !$last"></div>
        </div>
        <div class="add-route-input" ng-click="routeBoxes.push({value:''})">Добавить еще адрес</div>

        <div class="confirm-controls-wrap" ng-show="checkCreateRouteInputs() && routeBoxes.length > 1">
            <input type="checkbox" ng-model="allowMarkers">
            <div class="confirm-button create-button" ng-click="createRoute(routeType, allowMarkers); confirmCreateRoute = false">Построить</div>
        </div>
    </div>
</div>